
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Titljjjjje</title>
</head>
<body>
<p>
asdas
{{#each all_categories}}
        <a href="/categories/{{this}}"><li>{{this}}</a>      <a href="/delete_category/{{this}}">Delete</a></p>
{{/each}}
</p>

</p>
</body>
</html>

