<!DOCTYPE html>
<html>
<head>
    <title>POST Form</title>
</head>
<body>
<form action="http://localhost:8080/recieved" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="submit" value="Submit">
</form>
</body>
</html>
