<!DOCTYPE html>
<html>
<head>
    <title>update POST Form</title>
</head>
<body>
<form action="http://localhost:8080/post_updated_successfully" method="post">
    <input type="text" name="title" placeholder="title"><br>
    <input type="text" name="description" placeholder="description"><br>
    <input type="text" name="name" placeholder="name"><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>
